body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-padrao-de-pegada-bonito-e-brincalhao-para-diversao-da-fauna_1017-44713.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711152000&semt=ais);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #477ddb;
    border-radius: 10px;
    width: 60%;
    align-items: center;
    font-size: 25px;
    padding-bottom: 1%;
}

header {
    background-color: #477ddb;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
    color: aliceblue;
}

header h2 {
    font-size: 24px;
    margin: 10px 0;
}

section {
    padding: 50px 0;
}

section h3 {
    font-size: 28px;
    color: aliceblue;
}

section  {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
}

form input[type="email"],
form button {
    padding: 10px;
    font-size: 16px;
    border: none;
}

form input[type="email"] {
    width: 60%;
}

form button {
    background-color: #067195;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #477ddb;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img{
    width: 20%; 
}

.Coleiras {
    background-color: #477ddb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 15px;
    align-items: center;
    font-size: 20px;
    gap: 40px;


}




